* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #1c1c1c;
    background-image: url(./Screenshot\ 2024-02-21\ at\ 14.32.18.png);
    background-size: cover;
}
h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6, label, li, p, span {
    color: #fff;
}

a {
    color: rgb(141, 129, 255);
}


.chat-container {
    position: absolute;
    inset: auto 1.5% 16.5% auto;

    width: 35vh;
    height: 60vh;
    border-radius: 1vmax;
    overflow: hidden;
    background-color: rgba(16, 17, 48);   

    display: none;
}
.chat-container.show {
    display: block;
}
.chat-container > div {
    height: 100%;
    width: 100%;
    position: relative;
}

form {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    width: 100%;
    height: 8%;


    input[type="text"] {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: none;

        &:focus {
            outline: none;
        }
    }
    input[type="submit"] {
        background-color: #fff;
        border: none;
        aspect-ratio: 1 / 1;
    }
}

.response-container {
    position: absolute;
    top: 0;
    left: 0;

    height: 91%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.283);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2%;

    .userDiv {
        align-self: flex-end;

        min-height: auto;
        min-width: auto;
        max-width: 85%;
        
        font-size: 90%;

        background-color: rgb(0, 35, 125);
        border-radius: 1vmax 1vmax 0 1vmax;

        padding: 3%;
        margin-right: 1%;
    }
    .botDiv {
        align-self: flex-start;

        min-height: auto;
        min-width: auto;
        max-width: 95%;

        font-size: 90%;

        background-color: rgb(145, 0, 0);
        border-radius: 1vmax 1vmax 1vmax 0;

        padding: 2% 2% 2% 6%;
        margin-left: 1%;
    }
}


.chatbot-btn {
    position: absolute;
    bottom: 10vh;
    right: 2.5vh;

    width: 3vmax;
    height: 3vmax;
    border-radius: 50%;
    background-color: rgba(16, 17, 48, 0.9);
    border: none;
    cursor: pointer;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(16, 17, 48, 0.5);
    }
    &:active {
        background-color: rgba(16, 17, 48, 0.3);
    }
}