* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #1c1c1c;
}
h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6, label, li, p, span {
    color: #fff;
}

a {
    color: rgb(141, 129, 255);
}


.chat-container {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);

    width: 45vh;
    height: 80vh;
    border-radius: 1vmax;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.368);   
}
.chat-container > div {
    height: 100%;
    width: 100%;
    position: relative;
}

form {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    width: 98%;
    height: 5%;


    input[type="text"] {
        width: 100%;
        height: 100%;

    }
    input[type="submit"] {
        aspect-ratio: 1 / 1;
    }
}

.response-container {
    position: absolute;
    top: 0;
    left: 0;

    height: 91%;
    width: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.283);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2%;

    .userDiv {
        align-self: flex-end;

        min-height: auto;
        min-width: auto;
        max-width: 85%;
        
        font-size: 90%;

        background-color: rgb(0, 35, 125);
        border-radius: 1vmax 1vmax 0 1vmax;

        padding: 3%;
        margin-right: 1%;
    }
    .botDiv {
        align-self: flex-start;

        min-height: auto;
        min-width: auto;
        max-width: 95%;

        font-size: 90%;

        background-color: rgb(145, 0, 0);
        border-radius: 1vmax 1vmax 1vmax 0;

        padding: 2% 2% 2% 6%;
        margin-left: 1%;
    }
}
